// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products-container {
  flex-grow: 1;
  padding: 30px 55px 100px;

  .totals {
    padding-bottom: 30px;
    font-size: 13px;
    color: #686b78;
    font-weight: 500;
    text-transform: uppercase;
  }
  .items-container {
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      div {
        margin-left: 10px;
        flex: 1;
      }
      button {
        margin-left: 10px;
      }
      .heading {
        font-size: 16px;
        color: #282c3f;
        font-weight: 500;
        line-height: 20px;
      }
      .description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 13px;
        color: #7e808c;
        text-transform: capitalize;
      }
    }
  }
  .price {
    color: #B12704;
    font-size: 17px;
    line-height: 1.255;
  }
}

.flex-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
